<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>

<div class="singlePage">
    <!-- Begin actual content -->
    <header>
        <h1 id="page-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Data.config.page_title }}</a></h1>

		<div class="spacer"></div>
        {{partial "darkmode.html" .}}
    </header>
    <article>
        <h1>Tag: {{.Title | humanize}}</h1>
        {{partial "page-list.html" .Paginator.Pages}}
        {{ template "_internal/pagination.html" . }}
    </article>
    {{partial "contact.html" .}}
</div>
</body>

</html>
