<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>

<div class="singlePage">
    <!-- Begin actual content -->
    <header>
        <h1>{{if .Title}}{{ .Title }}{{else}}Untitled{{end}}</h1>

        <div class="spacer"></div>
        {{partial "darkmode.html" .}}
    </header>
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
